<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
				
					<span class="login100-form-title p-b-34" style="padding-top: 67px;">
						Account Login
					</span>
					
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="username" class="input100" [(ngModel)]="username" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password"[(ngModel)]="password" id="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn" style="padding-bottom: 5px;">
						<input class="login100-form-btn" type="button" class="login100-form-btn" (click)="login();" name="Sign in" value="Sign in">
					</div>
          
          <div _ngcontent-c1="" class="w-full text-center p-t-27 p-b-239">
            <span _ngcontent-c1="" class="txt1"> Forgot </span>
            <a _ngcontent-c1="" class="txt2" routerLink="../forgotpassword" aria-expanded="false"> password? </a>
          </div>

          <div _ngcontent-c1="" class="w-full text-center">
            <a _ngcontent-c1="" class="txt3" routerLink="../signup" aria-expanded="false"> Sign Up </a>
          </div>
          
				</div>

				<div class="login100-more" style="background-image: url('./resources/assets/images/iconnectLog.jpg');"></div>
			</div>
		</div>
	</div>
