<mat-card class="example-card margin-adjust">
  <mat-card-content>
    <div class="row">
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Industry" [(ngModel)]="skills.industry">
            <mat-option *ngFor="let university of universityList" [value]="university">
                {{university.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Skill Development Program" [(ngModel)]="skills.devProgram">
            <mat-option *ngFor="let university of universityList" [value]="university">
                {{university.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Lesson" [(ngModel)]="skills.lesson">
            <mat-option *ngFor="let university of universityList" [value]="university">
                {{university.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="No Of Units" [(ngModel)]="skills.noOfUnits">
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Duration" [(ngModel)]="skills.duration">
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Department" [(ngModel)]="skills.department">
            <mat-option *ngFor="let university of universityList" [value]="university">
                {{university.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Course" [(ngModel)]="skills.course">
            <mat-option *ngFor="let university of universityList" [value]="university">
                {{university.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Stream" [(ngModel)]="skills.stream">
            <mat-option *ngFor="let university of universityList" [value]="university">
                {{university.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-12 align-center">
        <button type="button" class="btn btn-primary"><i class="fa fa-newspaper-o"></i> Search</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary"><i class="fa fa-newspaper-o"></i> Assign</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="aggregate">
                <mat-header-cell *matHeaderCellDef> Aggregate </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.aggregate}} </mat-cell>                
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    </div>
  </mat-card-content>
</mat-card>