	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
				
					<span class="login100-form-title p-b-34" style="padding-top: 15px;">
						Fotget Password
					</span>
					
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="username" class="input100" [(ngModel)]="username" type="text" name="username" placeholder="username">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn" style="padding-bottom: 20px;">
						<input class="login100-form-btn" type="button" class="login100-form-btn" (click)="forgot();" name="Submit Request" value="Submit Request" id = "forgotPassword">
					</div>
					
					<!-- <div class="container-login100-form-btn" style="padding-bottom: 200px;">
						<input class="login100-form-btn" type="button" class="login100-form-btn" onclick="login();" name="Login" value="Login">
					</div> -->

         
          <div _ngcontent-c1="" class="w-full text-center p-t-27 p-b-239">
            <span _ngcontent-c1="" class="txt1"> Click On </span>
            <a _ngcontent-c1="" class="txt2" routerLink="../login" aria-expanded="false"> Login </a>
          </div>

					

				</div>

				<div class="login100-more" style="background-image: url('./resources/assets/images/iconnectLog.jpg');"></div>
			</div>
		</div>
	</div>
