<div>
  <mat-card class="margin25">
    <div class="btn-add" *ngIf="!createCollege">
      <button routerLink="../create-skill-dev" type="button" class="btn btn-primary "><i class="fa fa-newspaper-o"></i>
        Add Skill</button>
    </div>
  </mat-card>
  <div class="align-center" *ngIf="dataSource.length==0">
    <mat-spinner></mat-spinner>
  </div>
  <div class="data-table" *ngIf="dataSource.length!=0">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="industry">
        <mat-header-cell *matHeaderCellDef> Industry </mat-header-cell>
        <mat-cell *matCellDef="let element"><a href="#">{{element.industry}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="skillDevelopment">
        <mat-header-cell *matHeaderCellDef> Skill Development Program </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.corporateName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lesson">
        <mat-header-cell *matHeaderCellDef> Lesson </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lesson}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noofunits">
        <mat-header-cell *matHeaderCellDef> Number of Units </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.noofunits}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button class="btn btn-primary">Pending</button>  
          <button class="btn btn-primary">Completed</button>  
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>