<div>
    <div class="card add-college-content">
        <form [formGroup]="addStudentForm">
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Register Number" formControlName="registerNo">
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Student Name" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Date of Birth" formControlName="dob">
                        <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker> -->
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Gender" formControlName="gender">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mobile Number" formControlName="mobile">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email Id" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Course" formControlName="course">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Stream" formControlName="stream">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Year Of Passing" formControlName="yearOfPass">
                        <!-- <input matInput formControlName="yearOfPass" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="yearOfPass"></mat-datepicker-toggle>
                          <mat-datepicker #yearOfPass></mat-datepicker>-->
                    </mat-form-field>
                </div>
            </div>
            <div class="align-center">
                <input type="button" class="btn btn-primary" (click)="onSubmit()" value="Submit">
            </div>
        </form>
    </div>
</div>
