<div>
  <mat-card class="margin25">
    <mat-form-field class="col-md-6 col-sm-6 example-full-width">
      <!-- <input type="date" matInput placeholder="Date" [(ngModel)]="date"> -->
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card>
  <div class="align-center" *ngIf="dataSource.length==0">
    <mat-spinner></mat-spinner>
  </div>
  <div class="data-table" *ngIf="dataSource.length!=0">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="studentId">
        <mat-header-cell *matHeaderCellDef> Student ID </mat-header-cell>
        <mat-cell *matCellDef="let element"><a href="#">{{element.studentId}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="corporateName">
        <mat-header-cell *matHeaderCellDef> Corporate Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.corporateName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role/Designation </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="round">
        <mat-header-cell *matHeaderCellDef> Round of Interview </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.round}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="venue">
        <mat-header-cell *matHeaderCellDef> Venue </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.venue}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="contactPerson">
        <mat-header-cell *matHeaderCellDef> Contact Person Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.contactPerson}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobileNumber">
        <mat-header-cell *matHeaderCellDef> Contact Person Mobile Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mobileNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="emailId">
        <mat-header-cell *matHeaderCellDef> Contact Person Email ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.emailId}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
