<mat-card class="margin25">
  <div class="mat-icons"><i class="material-icons">
      settings
    </i>
  </div>
</mat-card>
<div class="margin25 row">
  <div class="col-md-4">
    <!-- <mat-card class="dash-card"> -->
    <div class="market-update-block clr-block-1">
      <div class="col-md-8 market-update-left">
        <h3>83</h3>
        <h4>No. Of Students</h4>
        <p>Other hand, we denounce</p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-file-text-o"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- </mat-card> -->
  </div>
  <div class="col-md-4">
    <div class="market-update-block clr-block-2">
      <div class="col-md-8 market-update-left">
        <h3>135</h3>
        <h4>Daily Students</h4>
        <p>Other hand, we denounce</p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-eye"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="market-update-block clr-block-3">
      <div class="col-md-8 market-update-left">
        <h3>23</h3>
        <h4>New Students</h4>
        <p>Other hand, we denounce</p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-envelope-o"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="margin25 row">
  <div class="col-md-4">
    <!-- <mat-card class="dash-card"> -->
    <div class="market-update-block clr-block-1">
      <div class="col-md-8 market-update-left">
        <h3>83</h3>
        <h4>No. Of Students</h4>
        <p>Other hand, we denounce</p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-file-text-o"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- </mat-card> -->
  </div>
  <div class="col-md-4">
    <div class="market-update-block clr-block-2">
      <div class="col-md-8 market-update-left">
        <h3>135</h3>
        <h4>Daily Students</h4>
        <p>Other hand, we denounce</p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-eye"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="market-update-block clr-block-3">
      <div class="col-md-8 market-update-left">
        <h3>23</h3>
        <h4>New Students</h4>
        <p>Other hand, we denounce</p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-envelope-o"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>