<div>
  <div class="card add-college-content">
    <form [formGroup]="studentForm">
      <div class="row">
        <div class="form-group col-sm-6 col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Student Name" formControlName="name">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="About Me" formControlName="aboutME">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 panel-body">
			      <div class="heading-block">
				      <h3>Current Education Details</h3>
			      </div>
        </div>

        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Current Course" formControlName="course">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Stream/Branch" formControlName="stream">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="College" formControlName="college">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="University" formControlName="university">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Year of Passing" formControlName="yearOfPass">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 panel-body">
			      <div class="heading-block">
				      <h3>Previous Education Details</h3>
			      </div>
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="Previous Course" [ngModelOptions]="{standalone: true}" [(ngModel)]="prevEducationDetails.prevcourse">
          </mat-form-field>
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="College" [ngModelOptions]="{standalone: true}" [(ngModel)]="prevEducationDetails.prevcollege">
          </mat-form-field>
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="University" [ngModelOptions]="{standalone: true}" [(ngModel)]="prevEducationDetails.prevuniversity">
          </mat-form-field>
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="City" [ngModelOptions]="{standalone: true}" [(ngModel)]="prevEducationDetails.prevcity">
          </mat-form-field>
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Year of Passing" [ngModelOptions]="{standalone: true}" [(ngModel)]="prevEducationDetails.prevyearOfPass">
          </mat-form-field>
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <!-- <mat-form-field class="example-full-width"> -->
          <button matButton class="btn btn-primary" (click)="addDept(prevEducationDetails)">Add</button>
          <!-- </mat-form-field> -->
        </div>
        <div class="form-group col-md-12" *ngIf="dataSource.length!=0">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="prevcourse">
              <th mat-header-cell *matHeaderCellDef> Course </th>
              <td mat-cell *matCellDef="let element"> {{element.prevcourse}} </td>
            </ng-container>
            <ng-container matColumnDef="prevcollege">
              <th mat-header-cell *matHeaderCellDef> College </th>
              <td mat-cell *matCellDef="let element"> {{element.prevcollege}} </td>
            </ng-container>
            <ng-container matColumnDef="prevuniversity">
              <th mat-header-cell *matHeaderCellDef> University </th>
              <td mat-cell *matCellDef="let element"> {{element.prevuniversity}} </td>
            </ng-container>
            <ng-container matColumnDef="prevcity">
              <th mat-header-cell *matHeaderCellDef> City </th>
              <td mat-cell *matCellDef="let element"> {{element.prevcity}} </td>
            </ng-container>
            <ng-container matColumnDef="prevyearOfPass">
              <th mat-header-cell *matHeaderCellDef> Year of Passing </th>
              <td mat-cell *matCellDef="let element"> {{element.prevyearOfPass}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon>border_color</mat-icon>&nbsp;
                <mat-icon disabled (click)="deleteData(row)">delete</mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 panel-body">
			      <div class="heading-block">
				      <h3>Personal Information Details</h3>
			      </div>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Date of Birth" formControlName="dob">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email ID" formControlName="emailId">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile Number" formControlName="mobile">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Current Course Aggregate %" formControlName="mobile">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Languages" formControlName="languages">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <!-- <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Key Skills" formControlName="keySkill"></textarea>
          </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Key Skills" formControlName="keySkill" multiple>
              <mat-option *ngFor="let keyskill of keySkills" [value]="keyskill">{{keyskill}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
      </div>
      <div class="align-center">
        
        <input type="button" class="btn btn-primary" (click)="onSubmit()" value="Update">&nbsp;&nbsp;
        <input disabled="true" type="button" class="btn btn-primary" value="Download">
      </div>
    </form>
  </div>
</div>
