<div>
    <div class="card add-college-content">
        <form [formGroup]="createJDForm">
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Job Position" formControlName="jobPosition">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Job Type" formControlName="jobType">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cource" formControlName="cource">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Percentage Criteria" formControlName="percentage">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="No. Of Vacancies" formControlName="vacancies">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Salary" formControlName="salary">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Skill Required" formControlName="skill">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Job Description" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Country" formControlName="country">
                            <mat-option *ngFor="let country of countryList" [value]="country">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="State" formControlName="state">
                            <mat-option *ngFor="let state of stateList" [value]="state">
                                {{state.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Location" formControlName="location">
                    </mat-form-field>
                </div>

            </div>
            <div class="align-center">
                <input type="button" class="btn btn-primary" (click)="onSubmit()" value="Submit">
            </div>
        </form>
    </div>
</div>
