<div>
    <div class="card add-college-content">
        <form [formGroup]="createJDForm">
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Job Position" formControlName="jobPosition">
                            <mat-option *ngFor="let jobPosition of jobPositionList" [value]="jobPosition">
                                {{jobPosition}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Job Type" formControlName="jobType">
                            <mat-option *ngFor="let jobType of jobTypeList" [value]="jobType">
                                {{jobType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Cource" formControlName="cource">
                            <mat-option *ngFor="let cource of courceList" [value]="cource">
                                {{cource}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Percentage Criteria" formControlName="percentage">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="No. Of Vacancies" formControlName="vacancies">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Salary" formControlName="salary">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Skill Required" formControlName="skill">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Job Description" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Rounds Of Interview" formControlName="roundsOfInterview">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Country" formControlName="country">
                            <mat-option *ngFor="let country of countryList" [value]="country.countryId">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="State" formControlName="state">
                            <mat-option *ngFor="let state of stateList" [value]="state.stateId">
                                {{state.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Location" formControlName="location">
                    </mat-form-field>
                </div>

            </div>
            <div class="align-center">
                <input type="button" class="btn btn-primary" (click)="onSubmit()" value="Submit">
            </div>
        </form>
    </div>
</div>
