<div>
    <div class="card add-college-content">
        <form [formGroup]="createJDForm">
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Role/Designation" formControlName="jobRole">
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Job Location" formControlName="jobLocation" multiple>
                            <mat-option *ngFor="let jobLoc of jobLocList" [value]="jobLoc">
                                {{jobLoc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Job Type" formControlName="jobType" multiple>
                            <mat-option *ngFor="let jobType of jobTypeList" [value]="jobType">
                                {{jobType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Cource" formControlName="cource">
                            <mat-option *ngFor="let cource of courceList" [value]="cource">
                                {{cource}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Stream" formControlName="stream" multiple>
                            <mat-option *ngFor="let stream of streamList" [value]="stream">
                                {{stream}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Percentage Criteria" formControlName="percentCriteria">
                            <mat-option *ngFor="let percent of percentList" [value]="percent">
                                {{percent}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Job Position" formControlName="jobPosition">
                    </mat-form-field>
                </div>                
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="No. Of Vacancies" formControlName="vacancies">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Salary" formControlName="salary">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Skill Required" formControlName="skill">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Job Description" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Rounds Of Interview" formControlName="roundsOfInterview">
                    </mat-form-field>
                </div>
                <!-- <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Country" formControlName="country">
                            <mat-option *ngFor="let country of countryList" [value]="country.countryId">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="State" formControlName="state">
                            <mat-option *ngFor="let state of stateList" [value]="state.stateId">
                                {{state.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Location" formControlName="location">
                            <mat-option *ngFor="let location of locationList" [value]="location.locationId">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->

            </div>
            <div class="align-center">
                <input type="button" class="btn btn-primary" value="Add">&nbsp;
                <input type="button" class="btn btn-warning" value="Cancel">&nbsp;
                <input type="button" class="btn btn-danger" value="Reset/Clear">
            </div>
        </form>
    </div>
</div>
