/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 


#main-wrapper {
    width: 100%;
}


*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
  margin:0px !important;
}
 
  .title-details{
    background-color: #fff;
    padding-left: 1%;
    padding-top: 1vh;
    height:4vh;
    color: #a3a7b3;
  }
  
  .space-between{
    display:flex;
    justify-content: space-between;
  }
  .align-center{
    display:flex;
    justify-content: center;
  }
  .add-college-content{
    background-color: #fff;
    padding: 15px;
    margin: 25px;
  }
  .form-group{
    label{
      color: #6c757d;
      font-size: 13px;
    }
  }
  .btn-primary{
    background-color: #0184cb;
    border-color: #0184cb;
  }
  .text-center{
    text-align: center;
  }
  .content-heading{
    background-color: #fff;
    padding: 15px 25px;
    color: #0283ca;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  }
  .btn-add{
    padding: 15px 25px;
  }
  .example-full-width {
    width: 100%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    color:#0283ca;
  }
  .card{
    background: #ffffff none repeat scroll 0 0;
    padding: 20px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }
  table {
    width: 100%;
  }
  .data-table{
    margin: 0px 25px;
  }
  .snackbar-success{
    background: #5cb85c !important;
    color: #fff;
    .mat-simple-snackbar {
      justify-content: center;
      font-size: 14px;
      line-height: 0px !important;
    }
  }
  .snackbar-error{
    background: #9F4013 !important;
    color: #fff;
    .mat-simple-snackbar {
      justify-content: center;
      font-size: 14px;
      line-height: 0px !important;
    }
  }
  .snackbar-warning{
    background: #FFCC00 !important;
    color: #fff;
    .mat-simple-snackbar {
      justify-content: center;
      font-size: 14px;
      line-height: 0px !important;
    }
  }
  
  h4.nav-message {
    color: #0184cb !important;
    padding-left: 3%;
  }
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #1976d2;
  }
  div.error_message{
    color:#f44336;
    font-size: 14px;
  }
  .btn-primary:disabled {
    color: #fff;
    background-color: #99abb4;
    border-color: #99abb4;
    cursor: default;
  }
  legend{
    color: gray;
    font-size: 16px;
    font-weight: 500;
  }