<div>
  <div class="card add-college-content">
    <form [formGroup]="createSkillDevForm">
      <div class="row">
        <div class="form-group col-sm-6 col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Industry" name="industry" formControlName="industry">
              <mat-option *ngFor="let country of countryList" [value]="country">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error_message" *ngIf="createSkillDevForm.controls['industry'].invalid && createSkillDevForm.controls['industry'].touched">Industry is required</div>
        </div>
        <div class="form-group col-sm-6 col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Skill Development Program" name="skillDevelopment" formControlName="skillDevelopment">
              <mat-option *ngFor="let skill of countryList" [value]="skill">
                {{skill.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error_message" *ngIf="createSkillDevForm.controls['skillDevelopment'].invalid && createSkillDevForm.controls['skillDevelopment'].touched">Skill Development is required</div>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Lessons" formControlName="lesson" name="lesson" multiple>
              <mat-option *ngFor="let lesson of countryList" [value]="lesson">
                {{lesson.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error_message" *ngIf="createSkillDevForm.controls['lesson'].invalid && createSkillDevForm.controls['lesson'].touched">Lesson field is required</div>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Number of Units" name="noOfUnits" formControlName="noOfUnits">
          </mat-form-field>
          <div class="error_message" *ngIf="createSkillDevForm.controls['noOfUnits'].invalid && createSkillDevForm.controls['noOfUnits'].touched">Number Of Units is required</div>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Duration" name="duration" formControlName="duration">
          </mat-form-field>
          <div class="error_message" *ngIf="createSkillDevForm.controls['duration'].invalid && createSkillDevForm.controls['duration'].touched">Duration is required</div>
        </div>
      </div>
      <div class="align-center">
        <button type="button" class="btn btn-primary" [disabled]="createSkillDevForm.invalid">Add</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-warning">Clear</button> &nbsp;&nbsp;
        <button routerLink="../list-skill-dev" type="button" class="btn btn-primary">Back</button>
      </div>
    </form>
  </div>
</div>
